
body{
/*	background: url(../img/bg.jpg) 0 0 repeat;*/
	background-color:#f0f0ed;
}



.thumbnail{
	background-color:#ffffff;
}

.icon-white {
	opacity: 0.5;
}



.brand{
	opacity: 0.5;
}

.navbar {
	background-color: #f0f0ed;
}

.active{
	opacity: .9;
	background-color: orange;
}

.footer{
/*	background-color: #3f3f3f;*/
	
}

.qr
{
	background-color: green;
	background-image:url(
		'http://fstraat.webfactional.com/lc/assets/img/contact-qr.png'
		);
	width: 100%;
	height: 100%	;
	
/*	background-color: rgb(120,120,10);*/
}



